{{#section 'head'}}
	<style>
		.btn-file {
			position: relative;
			overflow: hidden;
		}
		.btn-file input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			min-width: 100%;
			min-height: 100%;
			font-size: 999px;
			text-align: right;
			filter: alpha(opacity=0);
			opacity: 0;
			outline: none;
			background: white;
			cursor: inherit;
			display: block;
		}
	</style>
{{/section}}

<span class="btn btn-default btn-file">
	Upload
	<input type="file" class="form-control" required accept="image/*"
		id="fieldPhoto" data-url="/upload" multiple name="photo">
</span>
<div id="uploads"></div>

{{#section 'jquery'}}
	<script src="/vendor/jqfu/js/vendor/jquery.ui.widget.js"></script>
	<script src="/vendor/jqfu/js/jquery.iframe-transport.js"></script>
	<script src="/vendor/jqfu/js/jquery.fileupload.js"></script>
	<script>
		$(document).ready(function(){
			$('#fieldPhoto').fileupload({
				dataType: 'json',
				done: function(e, data){
					$.each(data.result.files, function(index, file){
						$('#uploads').append($('<div class="upload">' +
							'<span class="glyphicon glyphicon-ok"></span>' +
							'&nbsp;' + file.originalName + '</div>'));
					});
				}
			});
		});
	</script>
{{/section}}